.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.fo-termek{
  text-align: center;
  margin-bottom: 30px;
}

.termek-lista{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.mini-termek{
  cursor: pointer;
  border: 2px solid transparent;
}

.mini-termek:hover{
  border-color: brown;
}